:root {
  font-size: 15px;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  color: #303030;
  width: 100%;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.button {
  background: #7eb152;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.button::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 8px;
  margin-left: 20px;
  background: url("../img/arrow.png");
}

.button-tiny {
  font-size: 0.8rem;
  padding-top: 25px;
  padding-bottom: 25px;
}

.button-tiny:after {
  display: none;
}

.header {
  padding: 0 calc(50% - 585px);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__text {
  margin-left: 40px;
  font-size: 1.06rem;
  color: #9a9a9a;
}

.logo__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.logo__img-sm {
  display: none;
}

.phone {
  color: #303030;
  font-size: 20px;
  font-weight: 500;
}

.phone__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__icon {
  margin-right: 10px;
  height: 15px;
}

.phone__text {
  color: #9a9a9a;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 1199.98px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767.98px) {
  .logo__text {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .phone {
    font-size: 0.93rem;
  }
  .phone__icon {
    display: none;
  }
  .phone__text {
    display: none;
  }
  .logo__img {
    display: none;
  }
  .logo__img-sm {
    display: block;
  }
}

.intro {
  background-color: #3d4b7c;
  background: url("../img/bg.jpg") center top no-repeat;
  position: relative;
  padding: 0 calc(50% - 585px);
  margin-bottom: 200px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 150px;
  position: relative;
}

.intro__item {
  -ms-flex-preferred-size: 52%;
      flex-basis: 52%;
  color: #fff;
  margin-left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__img {
  margin-top: -30px;
  z-index: 5;
  width: 100%;
  max-width: 298px;
  display: block;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.intro__subtitle {
  font-weight: 700;
  font-size: 14px;
}

.intro__title {
  font-size: 60px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 35px;
}

.intro__text {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 95px;
}

.intro__form {
  background: #ffffff;
  width: 570px;
  height: 315px;
  border: 1px solid #a4c58c;
  padding: 50px;
  position: relative;
}

.intro__form--wrapper {
  padding: 20px;
  background: #ffffff;
  position: absolute;
  bottom: -30px;
  right: 0;
  z-index: 15;
}

.intro__form p {
  color: #303030;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 40px;
}

.intro__form input:not(:last-child) {
  width: 200px;
  padding: 10px;
  margin-right: 30px;
  color: #a4c58c;
  border: none;
  border-bottom: 1px solid #a4c58c;
}

.intro__form input:not(:last-child)::-webkit-input-placeholder {
  color: #a4c58c;
}

.intro__form input:not(:last-child):-moz-placeholder {
  color: #a4c58c;
}

.intro__form input:not(:last-child)::-moz-placeholder {
  color: #a4c58c;
}

.intro__form input:not(:last-child):-ms-input-placeholder {
  color: #a4c58c;
}

.intro__button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro__button-tiny {
  display: none;
}

@media (max-width: 991.98px) {
  .intro {
    margin-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .intro {
    margin-bottom: 40px;
  }
  .intro__text {
    display: none;
  }
  .intro__img {
    width: 86px;
    margin: 0;
    margin-bottom: 30px;
  }
  .intro__form--wrapper {
    display: none;
  }
  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 35px;
  }
  .intro__item {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__title {
    text-align: center;
    font-size: 2rem;
  }
  .intro__subtitle {
    font-size: 0.8rem;
  }
  .intro__button-tiny {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .intro {
    margin-bottom: 40px;
  }
}

.features {
  padding: 0 calc(50% - 585px);
  margin-bottom: 200px;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  width: 25%;
  padding: 0 35px 0 50px;
  position: relative;
}

.features__title {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: #a4c58c;
  border-bottom: 3px solid #a4c58c;
}

.features__title--number {
  font-size: 30px;
}

.features__title:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border: 5px solid #bfd8a9;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: -30px;
}

.features__description {
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 1.06rem;
  margin-top: 2rem;
}

@media (max-width: 991.98px) {
  .features {
    margin-bottom: 80px;
  }
  .features__item {
    width: 50%;
    padding: 70px;
  }
}

@media (max-width: 767.98px) {
  .features {
    margin-bottom: 40px;
  }
  .features__item {
    width: 50%;
    padding: 40px;
  }
}

@media (max-width: 575.98px) {
  .features {
    margin-bottom: 10px;
  }
  .features__item {
    width: 100%;
    padding: 40px;
  }
}

.problems {
  margin-bottom: 200px;
}

.problems__container {
  padding: 0 calc(50% - 585px);
  margin: 0 auto;
  padding-bottom: 30px;
  background: #f6f9f3;
}

.problems__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.problems__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 50px;
  margin-left: calc(50% - 585px);
}

.problems__item {
  position: relative;
}

.problems__body {
  width: 100%;
}

.problems__body--wrap {
  padding: 0;
}

.problems__body--position {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 45px;
  width: 45px;
  background: #a4c58c;
  border: 9px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  z-index: 3;
  opacity: 0;
}

.problems__body--position-01 {
  top: 0px;
  left: 140px;
}

.problems__body--position-02 {
  left: 160px;
  top: -90px;
}

.problems__body--position-03 {
  left: 227px;
  top: -185px;
}

.problems__body--position-04 {
  left: 295px;
  top: -90px;
}

.problems__body--position-05 {
  left: 315px;
  top: 0;
}

.problems__body--position-06 {
  left: 290px;
  top: 100px;
}

.problems__body--position-07 {
  left: 290px;
  top: 250px;
}

.problems__body--position-08 {
  left: 160px;
  top: 250px;
}

.problems__body--position-09 {
  left: 160px;
  top: 100px;
}

.problems__body--img {
  position: absolute;
  bottom: 10px;
  left: 0;
}

.problems__body--active {
  opacity: 1;
}

.problems__list {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-rows: (69px)[7];
  -ms-grid-columns: 350px 320px;
      grid-template: repeat(7, 69px)/350px 320px;
  padding-bottom: 10px;
}

.problems__list--item {
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
}

.problems__list--item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.problems__list--item2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.problems__list--item3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.problems__list--item4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.problems__list--item5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.problems__list--item6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  border-right: 1px solid rgba(164, 197, 140, 0.2);
  padding-top: 20px;
}

.problems__list--item7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  border-right: 1px solid rgba(164, 197, 140, 0.2);
  padding-top: 20px;
}

.problems__list--item8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  line-height: 2.2;
  padding: 20px 40px 0 20px;
}

.problems__list--item9 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  line-height: 2.2;
  padding: 20px 40px 0 20px;
}

.problems__list--bold {
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid rgba(164, 197, 140, 0.2);
}

.problems__list--bold > .problems__list--number {
  font-size: 0.93rem;
}

.problems__list--regular {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgba(164, 197, 140, 0.2);
}

.problems__list--regular > .problems__list--number {
  font-size: 0.8rem;
}

.problems__list--number {
  color: #a4c58c;
  margin-right: 20px;
  font-weight: 600;
}

.problems__list--active::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #a4c58c;
  border-bottom: 2px solid #a4c58c;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.problems__button {
  position: absolute;
  bottom: -120px;
  left: 0px;
  width: 500px;
  padding: 25px 40px;
}

.problems__button-tiny {
  display: none;
}

.factoid {
  border: 1px solid rgba(164, 197, 140, 0.6);
  padding: 32px;
  font-size: 16px;
  font-weight: 400;
}

.factoid--wrap {
  background: #f6f9f3;
  padding: 20px;
  z-index: 5;
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 416px;
  border: 1px solid rgba(164, 197, 140, 0.2);
}

.factoid__link {
  display: inline-block;
  color: #7eb152;
  background: #f6f9f3;
  position: absolute;
  bottom: 15px;
  left: 60px;
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
}

@media (max-width: 1199.98px) {
  .problems__item {
    width: 100%;
  }
  .problems__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .problems__body {
    background: #a4c58c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .problems__body--img {
    position: relative;
    bottom: 0;
  }
  .problems__body--wrap {
    position: relative;
  }
  .problems__body--position-01 {
    top: 210px;
    left: calc(50% - 105px);
  }
  .problems__body--position-02 {
    top: 120px;
    left: calc(50% - 85px);
  }
  .problems__body--position-03 {
    top: 25px;
    left: calc(50% - 22px);
  }
  .problems__body--position-04 {
    top: 120px;
    left: calc(50% + 40px);
  }
  .problems__body--position-05 {
    top: 210px;
    left: calc(50% + 60px);
  }
  .problems__body--position-06 {
    top: 310px;
    left: calc(50% + 40px);
  }
  .problems__body--position-07 {
    top: 460px;
    left: calc(50% + 40px);
  }
  .problems__body--position-08 {
    top: 460px;
    left: calc(50% - 85px);
  }
  .problems__body--position-09 {
    top: 310px;
    left: calc(50% - 85px);
  }
  .problems__title {
    text-align: center;
    margin: 0 auto 50px;
  }
  .problems__container {
    padding-bottom: 0;
  }
  .problems__button {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 416px;
  }
  .factoid--wrap {
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 767.98px) {
  .problems__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .problems__list--bold {
    font-size: 0.8rem;
  }
  .problems__list--regular {
    font-size: 0.94rem;
  }
  .problems__list--item {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 30px 30px 30px 10px;
    width: 100%;
    border-right: none;
  }
  .problems__list--active::before {
    right: 10px;
  }
}

@media (max-width: 575.98px) {
  .problems {
    margin-bottom: 35px;
  }
  .problems__container {
    padding-bottom: 0;
  }
  .problems__title {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .problems__body {
    display: none;
  }
  .problems__body--img {
    display: none;
  }
  .problems__body--wrap {
    padding: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .problems__list {
    padding-bottom: 0;
  }
  .problems__list--number {
    font-size: 0.8rem;
  }
  .problems__button {
    display: none;
  }
  .problems__button-tiny {
    display: block;
  }
  .factoid--wrap {
    position: relative;
    width: 100%;
    bottom: 0;
  }
  .factoid__link {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.popularity {
  padding-left: calc(50vw - 860px);
  padding-right: calc(50vw - 585px);
  margin-bottom: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popularity--img {
  max-width: 100%;
}

.popularity__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-left: 30px;
}

.popularity__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  position: relative;
}

.popularity__list--item {
  font-weight: 400;
  font-size: 1.06rem;
  margin-bottom: 3.33em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popularity__list--point {
  width: 15px;
  height: 20px;
  margin-right: 25px;
  background: url(../img/list-point.png) left center no-repeat;
}

.popularity__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 45px;
}

.popularity__subtitle {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4rem;
}

.popularity__block {
  border: 1px solid #a4c58c;
  padding: 35px;
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 1.6rem;
  z-index: 3;
}

.popularity__block--wrap {
  background: #fff;
  padding: 20px;
  position: absolute;
  bottom: -90px;
  right: 0;
  width: 100%;
  max-width: 600px;
}

.popularity__button {
  padding-top: 25px;
  padding-bottom: 25px;
}

.popularity__button-tiny {
  display: none;
}

@media (max-width: 1199.98px) {
  .popularity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .popularity__img {
    padding: 0;
  }
  .popularity__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popularity__item:first-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popularity__title {
    text-align: center;
  }
  .popularity__block--wrap {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 991.98px) {
  .popularity__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .popularity__item:last-child {
    padding: 0 calc(50vw - 300px);
  }
  .popularity__img {
    position: relative;
  }
}

@media (max-width: 767.98px) {
  .popularity {
    margin-bottom: 0;
  }
  .popularity__block--wrap {
    z-index: 5;
  }
  .popularity__item:last-child {
    padding: 0 calc(50vw - 200px);
  }
}

@media (max-width: 575.98px) {
  .popularity {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .popularity__title {
    font-size: 1.6rem;
    padding: 15px;
    margin-bottom: 10px;
  }
  .popularity__subtitle {
    margin-bottom: 25px;
  }
  .popularity__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .popularity__item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popularity__button {
    display: none;
  }
  .popularity__button-tiny {
    display: block;
  }
  .popularity__block {
    border: none;
  }
  .popularity__block--wrap {
    padding: 0;
    bottom: 0;
    position: relative;
  }
  .popularity__list--item {
    padding-right: 10px;
    margin-bottom: 20px;
  }
  .popularity__list--point {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.history {
  padding: 0 calc(50% - 860px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}

.history__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.history__item:first-child {
  z-index: 3;
  padding-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.history__title {
  font-size: 2.66rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 40px;
  max-width: 585px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.history__text {
  width: 100%;
  font-size: 1.06rem;
  line-height: 1.5;
  padding: 55px 33.5px 40px 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #f6f9f3;
  margin-right: -35px;
  z-index: 20;
}

.history__subtitle {
  font-size: 0.93rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 50;
  margin-right: 20px;
  margin-bottom: 30px;
}

.history__block {
  width: 370px;
  margin-right: 30px;
  margin-top: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.history__block--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history__email {
  width: 100%;
  padding: 10px;
  margin-bottom: 35px;
  color: #a4c58c;
  border: none;
  border-bottom: 1px solid #a4c58c;
}

.history__email::-webkit-input-placeholder {
  color: #a4c58c;
}

.history__email:-moz-placeholder {
  color: #a4c58c;
}

.history__email::-moz-placeholder {
  color: #a4c58c;
}

.history__email:-ms-input-placeholder {
  color: #a4c58c;
}

.history__button {
  padding-top: 15px;
  padding-bottom: 15px;
}

.history__button-tiny {
  display: none;
}

.history__img {
  width: 100%;
  max-width: 774px;
}

.history__img--block {
  max-height: 420px;
  margin-top: -25px;
  display: none;
}

@media (min-width: 1199.98px) {
  .history__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .history__text p {
    width: 100%;
    max-width: 585px;
    padding-left: 30px;
  }
}

@media (max-width: 1199.98px) {
  .history {
    width: 100%;
    padding: 0 calc(50vw - 384px);
  }
  .history__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    background: #f6f9f3;
  }
  .history__text {
    padding: 70px;
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .history__item {
    -ms-flex-preferred-size: 98%;
        flex-basis: 98%;
    background: #f6f9f3;
  }
  .history__item:last-child {
    display: none;
  }
  .history__img--block {
    display: block;
    z-index: 25;
  }
  .history__block--wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #ffffff;
  }
}

@media (max-width: 767.98px) {
  .history__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .history__item:first-child {
    padding-top: 0;
  }
  .history__title {
    margin-top: 200px;
    margin-bottom: 40px;
    width: 100%;
  }
  .history__text {
    padding-top: 0;
  }
  .history__block {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
    padding-top: 15px;
  }
  .history__block--wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .history__subtitle {
    margin: 0;
    padding: 30px;
    text-align: center;
  }
  .history__email {
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .history {
    padding-bottom: 0;
  }
  .history__item {
    padding-top: 50px;
  }
  .history__item:first-child {
    padding-top: 40px;
  }
  .history__title {
    font-size: 1.33rem;
    padding: 15px;
    padding-bottom: 5px;
    margin-bottom: 0;
  }
  .history__text {
    padding: 15px;
    padding-bottom: 50px;
  }
  .history__block {
    width: 100%;
  }
  .history__block--wrap {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .history__img {
    width: 100%;
  }
  .history__img--block {
    margin: 0;
    max-height: 100%;
    width: 100%;
  }
  .history__button {
    display: none;
  }
  .history__button-tiny {
    display: block;
  }
  .history__form {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.cite {
  margin: 100px auto;
  text-align: center;
  width: 100%;
  max-width: 775px;
}

.cite--wrap {
  margin-right: 30px;
  margin-left: 30px;
  padding: 57px 0;
  border-top: 2px solid #a4c58c;
  border-bottom: 2px solid #a4c58c;
}

.cite__text {
  font-size: 1.6rem;
  line-height: 1.66;
  font-weight: 700;
  padding-bottom: 50px;
}

.cite__author {
  font-size: 1.2rem;
  font-weight: 500;
  color: #303030;
}

.cite__date {
  color: #9a9a9a;
}

@media (max-width: 575.98px) {
  .cite {
    margin: 0 auto;
  }
  .cite--wrap {
    border: none;
  }
  .cite__text {
    font-size: 0.94rem;
  }
  .cite__author {
    font-size: 0.94rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
  }
  .cite__date {
    font-size: 0.8rem;
  }
}

.set {
  padding: 0 calc(50% - 860px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 300px;
}

.set__title {
  font-size: 2.67rem;
  line-height: 1.25;
  max-width: 500px;
  margin-left: 370px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.set__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  width: 100%;
  max-width: 1010px;
  margin: 0 30px;
}

.set__cards--item {
  width: 33%;
  border: 1px solid #a4c58c;
  margin: 10px;
  margin-bottom: 20px;
  position: relative;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 39px 70px;
}

.set__number {
  font-size: 10rem;
  font-weight: 700;
  color: #f6f9f3;
  position: relative;
}

.set__bg {
  width: 100%;
  max-width: 1720px;
  height: 380px;
  background: #f6f9f3;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.set__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.set__text {
  width: 100%;
  text-align: center;
  color: #303030;
  font-size: 0.87rem;
  font-weight: 700;
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
}

@media (max-width: 1199.98px) {
  .set__title {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 991.98px) {
  .set {
    background: #f6f9f3;
  }
  .set__title {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .set__text {
    font-size: 0.66rem;
  }
  .set__number {
    font-size: 6.8rem;
  }
  .set__cards--item {
    width: 33%;
    max-width: 220px;
    height: 220px;
  }
}

@media (max-width: 767.98px) {
  .set {
    padding-bottom: 50px;
    margin-bottom: 50px;
    background: #f6f9f3;
  }
  .set__number {
    font-size: 6rem;
  }
  .set__cards--item {
    padding: 50px 30px 50px;
  }
  .set__bg {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .set {
    margin-bottom: 70px;
  }
  .set__title {
    font-size: 1.6rem;
  }
  .set__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    margin-right: 0;
    background: #f6f9f3;
  }
  .set__cards--item {
    border: none;
    background: #f6f9f3;
    margin: 0;
  }
  .set__number {
    color: #ffffff;
    font-size: 8.6rem;
  }
  .set__text {
    bottom: 30px;
  }
}

.compound {
  padding: 0 calc(50vw - 585px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 130px;
}

.compound__title {
  font-size: 2.66rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
}

.compound__title--list {
  list-style: none;
  font-size: 1.06rem;
  font-weight: 400;
}

.compound__title--list li {
  margin-bottom: 20px;
}

.compound__title--list li::before {
  content: "\2022";
  color: #a4c58c;
  font-weight: bold;
  display: inline-block;
  width: 0.8em;
  margin-left: -1em;
}

.compound__hover {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 230px;
  height: 230px;
  background: rgba(126, 177, 82, 0.8);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  font-size: 0.93em;
  font-weight: 700;
  color: #ffffff;
  padding: 15px;
}

.compound__hover--text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.compound__item {
  padding: 25px 60px;
  margin-bottom: 30px;
  margin-left: 0;
  background: #f6f9f3;
  position: relative;
  width: 23%;
  height: 270px;
  text-align: center;
  vertical-align: middle;
}

.compound__item:hover .compound__hover {
  display: block;
}

.compound__item:nth-child(2) {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.compound__item:nth-child(3) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.compound__item:nth-child(4) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.compound__item:nth-child(5) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.compound__item:nth-child(6) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.compound__item:nth-child(7) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.compound__item:nth-child(8) {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.compound__item:nth-child(9) {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.compound__item:nth-child(10) {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.compound__item:nth-child(11) {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.compound__item:nth-child(12) {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
  margin-bottom: 0;
}

.compound__item-title {
  width: 570px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.compound__item--factoid {
  width: 830px;
  height: 270px;
  padding: 56px 93px 109px 80px;
  position: relative;
  font-size: 1.06rem;
  font-weight: 500;
  border: 1px solid #a4c58c;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.compound__item--factoid-sm {
  display: none;
}

.compound__item--factoid p::before {
  content: "\2022";
  color: #a4c58c;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.compound__number {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 0.93rem;
  font-weight: 700;
  line-height: 1.7;
  color: #a4c58c;
  position: absolute;
  left: 10px;
  top: 18px;
  letter-spacing: 3px;
}

.compound__description {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 0.93rem;
  font-weight: 400;
  line-height: 1.7;
  color: #a4c58c;
  position: absolute;
  bottom: 15px;
  right: 11px;
}

.compound__secret {
  position: absolute;
  bottom: 0px;
  color: #bfd8a9;
  font-size: 250px;
}

.compound__secret--text {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 0.94rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.6;
}

.compound__button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 21px 102px 21px 65px;
  max-width: 390px;
}

.compound__button-sm {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.compound__button-tiny {
  display: none;
}

@media (max-width: 1199.98px) {
  .compound {
    padding: 0 calc(50vw - 355px);
  }
  .compound__title {
    text-align: center;
  }
  .compound__item {
    width: 47%;
    max-width: 330px;
  }
  .compound__item-title {
    padding: 0 calc(50% - 250px);
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .compound__item--factoid {
    display: none;
  }
  .compound__item--factoid-sm {
    display: block;
    width: 47%;
    max-height: 330px;
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 60px 30px 115px;
    background: #ffffff;
    border: 1px solid #a4c58c;
  }
  .compound__item:nth-child(12) {
    margin-bottom: 0;
    margin-right: 0;
  }
}

@media (max-width: 991.98px) {
  .compound__title {
    font-size: 2rem;
  }
}

@media (max-width: 767.98px) {
  .compound {
    margin-bottom: 50px;
  }
}

@media (max-width: 575.98px) {
  .compound {
    margin-bottom: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .compound__item {
    width: 100%;
    max-width: 300px;
  }
  .compound__item--factoid-sm {
    width: 100%;
    background: #ffffff;
    margin-top: 30px;
  }
  .compound__button-sm {
    display: none;
  }
  .compound__button-tiny {
    display: block;
    position: absolute;
    bottom: 0;
  }
}

.reviews {
  margin-bottom: 200px;
}

.reviews__inner {
  padding: 0 calc(50% - 585px);
  background: #f6f9f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__inner-rus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 60px;
}

.reviews__inner-eng {
  display: none;
}

.reviews__title {
  padding-left: calc(50% - 585px);
  font-size: 2.66rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}

.reviews__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__switch--item {
  width: 50%;
  background: #ffffff;
  padding: 25px;
  font-size: 0.97rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #9a9a9a;
  cursor: pointer;
}

.reviews__switch--item:first-child {
  padding-left: calc(50% - 585px);
}

.reviews__switch--item.active {
  background: #f6f9f3;
  color: #7eb152;
  cursor: default;
}

.reviews__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 30px 65px 40px 0;
  font-size: 1.06rem;
  font-weight: 400;
  color: #9a9a9a;
  line-height: 1.375;
  position: relative;
}

.reviews__item:before {
  content: "";
  width: 30px;
  height: 3px;
  background: #a4c58c;
  position: absolute;
  top: 10px;
  left: 0;
}

.reviews__author {
  font-weight: 700;
  color: #303030;
}

.reviews__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 calc(50% - 585px);
  margin-top: 20px;
}

.reviews__button {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.reviews__button-tiny {
  display: none;
}

.reviews__link {
  color: #7eb152;
  font-size: 0.97rem;
  font-weight: 700;
}

.reviews__link-wrap {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199.98px) {
  .reviews {
    margin-bottom: 150px;
  }
  .reviews__inner {
    padding-left: 30px;
    padding-right: 30px;
  }
  .reviews__switch--item {
    padding-left: 30px;
  }
  .reviews__switch--item.active {
    padding-left: 30px;
  }
}

@media (max-width: 991.98px) {
  .reviews {
    margin-bottom: 100px;
    padding: 0 calc(50vw - 384px);
  }
  .reviews__title {
    text-align: center;
    font-size: 2rem;
  }
  .reviews__switch--item {
    padding-left: 50px;
  }
  .reviews__switch--item.active {
    padding-left: 50px;
  }
  .reviews__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .reviews__item:nth-child(3) {
    display: none;
  }
  .reviews__item:nth-child(4) {
    display: none;
  }
  .reviews__inner-rus {
    padding: 100px;
  }
  .reviews__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 50px;
    margin-left: 50px;
  }
  .reviews__link {
    margin-bottom: 40px;
  }
  .reviews__link-wrap {
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .reviews {
    margin-bottom: 50px;
  }
  .reviews__inner-rus {
    padding: 30px;
  }
  .reviews__buttons {
    margin: 0;
    margin-top: 15px;
  }
  .reviews__button {
    display: none;
  }
  .reviews__button-tiny {
    display: block;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .reviews__switch--item {
    padding-left: 15px;
    padding-right: 15px;
  }
  .reviews__switch--item.active {
    padding-left: 15px;
    padding-right: 15px;
  }
  .reviews__item {
    padding-right: 0px;
  }
  .reviews__inner {
    padding: 15px;
  }
  .reviews__inner-rus {
    padding: 0px;
  }
}

.creation {
  padding: 0;
  padding-left: calc(50vw - 860px);
  padding-right: calc(50vw - 585px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
}

.creation__block {
  width: 640px;
  max-height: 625px;
  border: 1px solid rgba(164, 197, 140, 0.6);
  margin: 20px;
  padding: 40px;
  height: auto;
  background: #ffffff;
}

.creation__block-wrap {
  background: #ffffff;
  margin-left: -100px;
}

.creation__img {
  margin-right: -213px;
}

.creation__title {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.creation__description {
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 1.46;
  margin-bottom: 60px;
}

.creation__subtext {
  margin-top: 50px;
  display: block;
  font-weight: 700;
  font-size: 0.95rem;
}

.creation__button {
  padding-top: 25px;
  padding-bottom: 25px;
}

.creation__button-tiny {
  display: none;
}

@media (min-width: 1199.98px) {
  .creation__block-wrap {
    position: absolute;
    right: calc(50vw - 585px);
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@media (max-width: 1199.98px) {
  .creation {
    margin-bottom: 150px;
  }
  .creation__img {
    display: none;
  }
  .creation__block-wrap {
    margin: 0 auto;
  }
}

@media (max-width: 991.98px) {
  .creation {
    margin-bottom: 100px;
  }
  .creation__block {
    width: 100%;
    margin: 0;
    border: none;
  }
  .creation__block-wrap {
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  .creation {
    margin-bottom: 50px;
  }
}

@media (max-width: 575.98px) {
  .creation {
    margin-bottom: 0px;
  }
  .creation__title {
    font-size: 1.6rem;
    text-align: center;
  }
  .creation__description {
    font-size: 0.94rem;
    margin-bottom: 0;
  }
  .creation__subtext {
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
  }
  .creation__block {
    padding: 10px;
    border: none;
  }
  .creation__button {
    display: none;
  }
  .creation__button-tiny {
    display: block;
  }
}

.guarantee {
  margin-bottom: 30px;
}

.guarantee__title {
  padding-left: calc(50% - 585px);
  font-size: 2.66rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.guarantee__subtitle {
  background: #f6f9f3;
  padding-left: calc(50% - 500px);
  padding-right: 50%;
  padding-top: 30px;
  font-size: 1.06rem;
  font-weight: 700;
  width: 100%;
}

.guarantee__inner {
  background: #f6f9f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px calc(50% - 585px) 100px;
  position: relative;
}

.guarantee__item {
  width: 55%;
  padding-left: 70px;
}

.guarantee__factoid {
  border: 1px solid rgba(164, 197, 140, 0.6);
  padding: 45px 50px 100px 50px;
  position: relative;
  font-size: 1.06rem;
  font-weight: 500;
}

.guarantee__factoid-wrap {
  padding: 20px;
  background: #ffffff;
  max-width: 570px;
}

.guarantee__but {
  font-size: 0.94rem;
  font-weight: 700;
  color: #7eb152;
  background: #ffffff;
  position: absolute;
  top: -14px;
  left: 50px;
  padding: 5px;
}

.guarantee__button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 350px;
}

.guarantee__button-tiny {
  display: none;
}

.guarantee__img {
  position: absolute;
  left: calc(50% + 140px);
  bottom: 100px;
}

.guarantee__img-sm {
  display: none;
}

@media (max-width: 1199.98px) {
  .guarantee__title {
    text-align: center;
  }
  .guarantee__subtitle {
    text-align: center;
    padding-left: 130px;
    padding-right: 130px;
  }
  .guarantee__img {
    display: none;
  }
  .guarantee__img-sm {
    display: block;
    max-height: 430px;
    margin-right: 25px;
  }
  .guarantee__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-left: 25px;
  }
  .guarantee__factoid {
    height: 100%;
  }
  .guarantee__button {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .guarantee__inner {
    padding-bottom: 0;
  }
  .guarantee__title {
    background: #f6f9f3;
    font-size: 1.6rem;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .guarantee__subtitle {
    padding: 20px;
  }
  .guarantee__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  .guarantee__img-sm {
    max-width: 280px;
    margin: 0;
  }
  .guarantee__factoid {
    margin: 0;
    border: none;
    padding: 15px;
  }
  .guarantee__factoid-wrap {
    background: #f6f9f3;
    margin-top: 20px;
    padding: 0;
  }
  .guarantee__but {
    background: #f6f9f3;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .guarantee__button {
    position: relative;
    margin-top: 15px;
  }
}

@media (max-width: 575.98px) {
  .guarantee__title {
    padding-bottom: 0;
  }
  .guarantee__subtitle {
    font-size: 0.8rem;
    line-height: 1.33rem;
  }
  .guarantee__inner {
    padding-top: 10px;
  }
  .guarantee__factoid {
    font-size: 0.94rem;
    font-weight: 400;
    line-height: 1.46rem;
    padding-bottom: 50px;
  }
  .guarantee__img-sm {
    padding-bottom: 20px;
  }
}

.footer {
  padding: 0 calc(50% - 585px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  color: #9a9a9a;
}

.footer__link:not(:last-child) {
  margin-right: 30px;
}

.footer__link:hover {
  text-decoration: none;
}

.footer__logo-sm {
  display: none;
}

@media (max-width: 1200px) {
  .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link:not(:last-child) {
    margin-right: 0px;
  }
}

@media (max-width: 767.98px) {
  .footer__logo {
    display: none;
  }
  .footer__logo-sm {
    display: block;
  }
  .footer__link {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
  .phone {
    font-size: 0.94rem;
  }
  .phone__text {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo-sm {
    display: none;
  }
  .footer__phone {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */