:root {
  font-size: 15px;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  color: #303030;
  width: 100%;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.button {
  background: #7eb152;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.button::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 8px;
  margin-left: 20px;
  background: url("../img/arrow.png");
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__text {
  margin-left: 40px;
  font-size: 1.06rem;
  color: #9a9a9a;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.phone__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__icon {
  margin-right: 10px;
  height: 15px;
}

.phone {
  color: #303030;
  font-size: 20px;
  font-weight: 500;
}

.phone__text {
  color: #9a9a9a;
  font-size: 12px;
  font-weight: 400;
}

.container-bg {
  background: #c83636;
  background-color: #3d4b7c;
  background: url("../img/bg.jpg") center center no-repeat;
  background-size: cover;
}

.intro {
  position: relative;
  margin-bottom: 20rem;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 170px;
  padding-bottom: 195px;
}

.intro__item {
  width: 50%;
  color: #fff;
}

.intro__img {
  position: absolute;
  bottom: -200px;
  z-index: 5;
}

.intro__subtitle {
  font-weight: 700;
  font-size: 14px;
}

.intro__title {
  font-size: 60px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 35px;
}

.intro__text {
  font-weight: 400;
  font-size: 18px;
}

.intro__form {
  background: #ffffff;
  width: 570px;
  height: 315px;
  border: 1px solid #a4c58c;
  padding: 50px;
}

.intro__form--wrapper {
  padding: 20px;
  background: #ffffff;
  position: absolute;
  bottom: -215px;
  z-index: 15;
}

.intro__form:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 48px;
  right: 75px;
  height: 8px;
  width: 30px;
  background: #7eb152 url("../img/arrow.png") center center no-repeat;
  cursor: pointer;
  z-index: 15;
}

.intro__form p {
  color: #303030;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 40px;
}

.intro__form input:not(:last-child) {
  width: 200px;
  padding: 10px;
  margin-right: 30px;
  color: #a4c58c;
  border: none;
  border-bottom: 1px solid #a4c58c;
}

.intro__form input:not(:last-child)::-webkit-input-placeholder {
  color: #a4c58c;
}

.intro__form input:not(:last-child):-moz-placeholder {
  color: #a4c58c;
}

.intro__form input:not(:last-child)::-moz-placeholder {
  color: #a4c58c;
}

.intro__form input:not(:last-child):-ms-input-placeholder {
  color: #a4c58c;
}

.intro__form input:last-child {
  position: relative;
  background: #7eb152;
  font-size: 14px;
  font-weight: 700;
  padding: 25px 110px 25px 75px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.features {
  margin-bottom: 80px;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  width: 25%;
  padding: 0 35px;
  position: relative;
}

.features__item:before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border: 5px solid #bfd8a9;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: -10px;
}

.features__title {
  font-size: 18px;
  font-weight: 600;
  color: #a4c58c;
  border-bottom: 3px solid #a4c58c;
}

.features__title--number {
  font-size: 30px;
}

.features__description {
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 1.06rem;
  margin-top: 2rem;
}

.problems {
  margin-top: 200px;
  margin-bottom: 200px;
}

.problems__container {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  background: #f6f9f3;
  padding: 0 calc(50%-860px);
  padding-bottom: 30px;
}

.problems__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.problems__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  width: 50%;
  margin-bottom: 50px;
}

.problems__item {
  position: relative;
}

.problems__body--position {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 45px;
  width: 45px;
  background: #a4c58c;
  border: 9px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  z-index: 3;
  opacity: 0;
}

.problems__body--position-01 {
  top: 0px;
  left: 140px;
}

.problems__body--position-02 {
  left: 160px;
  top: -90px;
}

.problems__body--position-03 {
  left: 227px;
  top: -185px;
}

.problems__body--position-04 {
  left: 295px;
  top: -90px;
}

.problems__body--position-05 {
  left: 315px;
  top: 0;
}

.problems__body--position-06 {
  left: 290px;
  top: 100px;
}

.problems__body--position-07 {
  left: 290px;
  top: 250px;
}

.problems__body--position-08 {
  left: 160px;
  top: 250px;
}

.problems__body--position-09 {
  left: 160px;
  top: 100px;
}

.problems__body--img {
  position: absolute;
  bottom: 10px;
  left: 0;
}

.problems__body--active {
  opacity: 1;
}

.problems__list {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-rows: (69px)[7];
  -ms-grid-columns: 350px 320px;
      grid-template: repeat(7, 69px)/350px 320px;
  padding-bottom: 10px;
}

.problems__list--item {
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
}

.problems__list--item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.problems__list--item2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.problems__list--item3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.problems__list--item4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.problems__list--item5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.problems__list--item6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  border-right: 1px solid rgba(164, 197, 140, 0.2);
  padding-top: 20px;
}

.problems__list--item7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  border-right: 1px solid rgba(164, 197, 140, 0.2);
  padding-top: 20px;
}

.problems__list--item8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  line-height: 2.2;
  padding-top: 20px;
  margin: 0 40px 0 20px;
}

.problems__list--item9 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  line-height: 2.2;
  padding-top: 20px;
  margin: 0 40px 0 20px;
}

.problems__list--bold {
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid rgba(164, 197, 140, 0.2);
}

.problems__list--regular {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgba(164, 197, 140, 0.2);
}

.problems__list--number {
  color: #a4c58c;
  margin-right: 20px;
}

.problems__list--active::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #a4c58c;
  border-bottom: 2px solid #a4c58c;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.problems__button {
  position: absolute;
  bottom: -120px;
  left: 0px;
  width: 500px;
  padding: 25px 40px;
}

.factoid {
  border: 1px solid rgba(164, 197, 140, 0.6);
  padding: 32px;
  font-size: 16px;
  font-weight: 400;
}

.factoid--wrap {
  background: #f6f9f3;
  padding: 20px;
  z-index: 5;
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 416px;
  border: 1px solid rgba(164, 197, 140, 0.2);
}

.factoid__link {
  display: inline-block;
  color: #7eb152;
  background: #f6f9f3;
  position: absolute;
  bottom: 15px;
  left: 60px;
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
}

.popularity {
  margin-bottom: 200px;
  position: relative;
}

.popularity__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popularity--img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  max-height: 100%;
}

.popularity__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-left: 30px;
}

.popularity__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  position: relative;
}

.popularity__list--item {
  font-weight: 400;
  font-size: 1.06rem;
  margin-bottom: 3.33em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popularity__list--point {
  width: 15px;
  height: 20px;
  margin-right: 25px;
  background: url(../img/list-point.png) left center no-repeat;
}

.popularity__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 45px;
}

.popularity__subtitle {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4rem;
}

.popularity__block {
  border: 1px solid #a4c58c;
  padding: 35px;
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.popularity__block--wrap {
  background: #fff;
  padding: 20px;
  margin-bottom: -90px;
}

.popularity__button {
  padding-top: 25px;
  padding-bottom: 25px;
}

.history {
  padding: 0 calc(50% - 860px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}

.history__item:first-child {
  z-index: 3;
  padding-top: 100px;
  position: relative;
}

.history__item:last-child {
  z-index: 2;
}

.history__title {
  font-size: 2.66rem;
  font-weight: 700;
  line-height: 1.25;
  margin-left: 275px;
  margin-bottom: 40px;
}

.history__text {
  font-size: 1.06rem;
  line-height: 1.5;
  padding: 55px 33.5px 40px 275px;
  background: #f6f9f3;
  margin-right: -35px;
  z-index: 20;
}

.history__subtitle {
  font-size: 0.93rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 50;
  margin-right: 20px;
  margin-bottom: 30px;
}

.history__block {
  width: 370px;
  position: absolute;
  bottom: 0;
  right: 30px;
}

.history__email {
  width: 100%;
  padding: 10px;
  margin-bottom: 35px;
  color: #a4c58c;
  border: none;
  border-bottom: 1px solid #a4c58c;
}

.history__email::-webkit-input-placeholder {
  color: #a4c58c;
}

.history__email:-moz-placeholder {
  color: #a4c58c;
}

.history__email::-moz-placeholder {
  color: #a4c58c;
}

.history__email:-ms-input-placeholder {
  color: #a4c58c;
}

.history__button {
  padding-top: 15px;
  padding-bottom: 15px;
}

.cite {
  margin: 100px auto;
  text-align: center;
  width: 100%;
  max-width: 775px;
  padding-top: 57px;
  padding-bottom: 57px;
  border-top: 2px solid #a4c58c;
  border-bottom: 2px solid #a4c58c;
}

.cite__text {
  font-size: 1.6rem;
  line-height: 1.66;
  font-weight: 700;
  padding-bottom: 50px;
}

.cite__author {
  font-size: 1.2rem;
  font-weight: 500;
  color: #303030;
}

.cite__date {
  color: #9a9a9a;
}

.set {
  padding: 0 calc(50% - 860px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 300px;
}

.set__title {
  font-size: 2.67rem;
  line-height: 1.25;
  max-width: 500px;
  margin-left: 370px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.set__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  width: 1010px;
}

.set__cards--item {
  width: 310px;
  height: 310px;
  border: 1px solid #a4c58c;
  margin: 10px;
  margin-bottom: 20px;
  position: relative;
}

.set__number {
  font-size: 10rem;
  font-weight: 700;
  color: #f6f9f3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.set__bg {
  width: 100%;
  max-width: 1720px;
  height: 380px;
  background: #f6f9f3;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.set__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
}

.set__text {
  width: 100%;
  text-align: center;
  color: #303030;
  font-size: 0.87rem;
  font-weight: 700;
  position: absolute;
  left: 50%;
  bottom: 75px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
}

.compound {
  padding: 0 calc(50% - 585px) 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.compound__hover {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 230px;
  height: 230px;
  background: rgba(126, 177, 82, 0.8);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  font-size: 0.93em;
  font-weight: 700;
  color: #ffffff;
  padding: 15px;
}

.compound__hover--text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.compound__item {
  padding: 25px 60px;
  margin-bottom: 30px;
  background: #f6f9f3;
  position: relative;
  width: 270px;
  height: 270px;
  text-align: center;
  vertical-align: middle;
}

.compound__item:hover .compound__hover {
  display: block;
}

.compound__item:nth-child(2) {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.compound__item:nth-child(3) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.compound__item:nth-child(4) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.compound__item:nth-child(5) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.compound__item:nth-child(6) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.compound__item:nth-child(7) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.compound__item:nth-child(8) {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.compound__item:nth-child(9) {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.compound__item:nth-child(10) {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.compound__item:nth-child(11) {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.compound__item:nth-child(12) {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
  margin-bottom: 0;
}

.compound__item-title {
  width: 570px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.compound__item--factoid {
  width: 830px;
  height: 250px;
  padding: 56px 93px 109px 80px;
  position: relative;
  font-size: 1.06rem;
  font-weight: 500;
  border: 1px solid #a4c58c;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.compound__item--factoid p::before {
  content: "\2022";
  color: #a4c58c;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.compound__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
}

.compound__title--list {
  list-style: none;
  font-size: 1.06rem;
  font-weight: 400;
}

.compound__title--list li {
  margin-bottom: 20px;
}

.compound__title--list li::before {
  content: "\2022";
  color: #a4c58c;
  font-weight: bold;
  display: inline-block;
  width: 0.8em;
  margin-left: -1em;
}

.compound__number {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 0.93rem;
  font-weight: 700;
  line-height: 1.7;
  color: #a4c58c;
  position: absolute;
  left: 10px;
  top: 18px;
  letter-spacing: 3px;
}

.compound__description {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 0.93rem;
  font-weight: 400;
  line-height: 1.7;
  color: #a4c58c;
  position: absolute;
  bottom: 15px;
  right: 11px;
}

.compound__secret {
  position: absolute;
  bottom: 0px;
  color: #bfd8a9;
  font-size: 250px;
}

.compound__secret--text {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 0.94rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.6;
}

.compound__button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 21px 102px 21px 65px;
  max-width: 390px;
}

.reviews {
  margin-bottom: 200px;
}

.reviews__inner {
  padding: 0 calc(50% - 585px);
  background: #f6f9f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__inner-rus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 60px;
}

.reviews__inner-eng {
  display: none;
}

.reviews__title {
  padding-left: calc(50% - 585px);
  font-size: 2.66rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}

.reviews__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__switch--item {
  width: 50%;
  background: #ffffff;
  padding: 25px;
  font-size: 0.97rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #9a9a9a;
  cursor: pointer;
}

.reviews__switch--item:first-child {
  padding-left: calc(50% - 585px);
}

.reviews__switch--item.active {
  background: #f6f9f3;
  color: #7eb152;
  cursor: default;
}

.reviews__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 30px 65px 40px 0;
  font-size: 1.06rem;
  font-weight: 400;
  color: #9a9a9a;
  line-height: 1.375;
  position: relative;
}

.reviews__item:before {
  content: "";
  width: 30px;
  height: 3px;
  background: #a4c58c;
  position: absolute;
  top: 10px;
  left: 0;
}

.reviews__author {
  font-weight: 700;
  color: #303030;
}

.reviews__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 calc(50% - 585px);
  margin-top: 20px;
}

.reviews__button {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.reviews__link {
  color: #7eb152;
  font-size: 0.97rem;
  font-weight: 700;
}

.reviews__link-wrap {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 200px;
}

.creation__block {
  max-width: 640px;
  max-height: 625px;
  border: 1px solid rgba(164, 197, 140, 0.6);
  margin: 20px;
  padding: 40px;
  height: auto;
  background: #ffffff;
}

.creation__block-wrap {
  background: #ffffff;
  margin-left: -100px;
}

.creation__img {
  margin-right: -213px;
}

.creation__title {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.creation__description {
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 1.46;
  margin-bottom: 60px;
}

.creation__subtext {
  margin-top: 50px;
  display: block;
  font-weight: 700;
  font-size: 0.95rem;
}

.creation__button {
  padding-top: 25px;
  padding-bottom: 25px;
}

.guarantee {
  margin-bottom: 30px;
}

.guarantee__title {
  padding-left: calc(50% - 700px);
  font-size: 2.66rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.guarantee__subtitle {
  font-size: 1.06rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.guarantee__inner {
  background: #f6f9f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px calc(50% - 585px) 100px;
  position: relative;
}

.guarantee__item {
  width: 50%;
}

.guarantee__factoid {
  border: 1px solid rgba(164, 197, 140, 0.6);
  padding: 45px 50px 100px 50px;
  position: relative;
  font-size: 1.06rem;
  font-weight: 500;
}

.guarantee__factoid-wrap {
  padding: 20px;
  background: #ffffff;
  max-width: 570px;
}

.guarantee__button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 350px;
}

.guarantee__img {
  position: absolute;
  left: calc(50% + 140px);
  bottom: 100px;
}
/*# sourceMappingURL=style.css.map */