.cite {
  margin: 100px auto;
  text-align: center;
  width: 100%;
  max-width: 775px;
  &--wrap {
    margin-right: 30px;
    margin-left: 30px;
    padding: 57px 0;
    border-top: 2px solid $green-secondary;
    border-bottom: 2px solid $green-secondary;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.66;
    font-weight: 700;
    padding-bottom: 50px;
  }
  &__author {
    font-size: 1.2rem;
    font-weight: 500;
    color: $main;
  }
  &__date {
    color: $gray;
  }
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
  .cite {
    margin: 0 auto;
    &--wrap {
      border: none;
    }
    &__text {
      font-size: 0.94rem;
    }
    &__author {
      font-size: 0.94rem;
      display: flex;
      flex-direction: column;
      padding-left: 40px;
      padding-right: 40px;
    }
    &__date {
      font-size: 0.8rem;
    }
  }
}
