.header__inner {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo__text {
  margin-left: 40px;
  font-size: 1.06rem;
  color: $gray;
}
.header__phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.phone__text {
  text-decoration: none;
  display: flex;
}
.phone__icon {
  margin-right: 10px;
}
.phone {
  color: $main;
  font-size: 20px;
  font-weight: 400;
}
.phone__text {
  color: $gray;
}
