.header {
  padding: 0 calc(50% - 585px);
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
  }
}
.logo {
  display: flex;
  align-items: center;

  &__text {
    margin-left: 40px;
    font-size: 1.06rem;
    color: $gray;
  }
  &__phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}
.phone {
  color: $main;
  font-size: 20px;
  font-weight: 500;

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 10px;
    height: 15px;
  }
  &__text {
    color: $gray;
    font-size: 12px;
    font-weight: 400;
  }
}
