.history {
  padding: 0 calc(50% - 860px);
  display: flex;
  padding-bottom: 80px;
  &__item {
    &:first-child {
      z-index: 3;
      padding-top: 100px;
      position: relative;
    }
    &:last-child {
      z-index: 2;
    }
  }
  &__title {
    font-size: 2.66rem;
    font-weight: 700;
    line-height: 1.25;
    margin-left: 275px;
    margin-bottom: 40px;
  }
  &__text {
    font-size: 1.06rem;
    line-height: 1.5;
    padding: 55px 33.5px 40px 275px;
    background: $green-bg;
    margin-right: -35px;
    z-index: 20;
  }
  &__subtitle {
    font-size: 0.93rem;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 50;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  &__block {
    width: 370px;
    position: absolute;
    bottom: 0;
    right: 30px;
  }
  &__email {
    width: 100%;
    padding: 10px;
    margin-bottom: 35px;
    color: $green-secondary;
    border: none;
    border-bottom: 1px solid $green-secondary;

    @include placeholder {
      color: $green-secondary;
    }
  }
  &__button {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
