.popularity {
  padding-left: calc(50vw - 860px);
  padding-right: calc(50vw - 585px);
  margin-bottom: 200px;
  position: relative;
  display: flex;

  &--img {
    // position: absolute;
    // right: 0;
    // top: 0;
    // z-index: -1;
    max-width: 100%;
  }

  &__item {
    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 45%;
      padding-left: 30px;
    }

    &:first-child {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-basis: 55%;
      position: relative;
    }
  }

  &__list {
    &--item {
      font-weight: 400;
      font-size: 1.06rem;
      margin-bottom: 3.33em;
      display: flex;
      align-items: center;
    }

    &--point {
      width: 15px;
      height: 20px;
      margin-right: 25px;
      background: url(../img/list-point.png) left center no-repeat;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    // width: 90%;
    margin-bottom: 45px;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4rem;
  }

  &__block {
    border: 1px solid $green-secondary;
    padding: 35px;
    font-size: 1.06rem;
    font-weight: 400;
    line-height: 1.6rem;
    z-index: 3;

    &--wrap {
      background: #fff;
      padding: 20px;
      position: absolute;
      bottom: -90px;
      right: 0;
      width: 100%;
      max-width: 600px;
      // display: none;
    }
  }

  &__button {
    padding-top: 25px;
    padding-bottom: 25px;
    &-tiny {
      display: none;
    }
  }
}
@media (max-width: 1199.98px) {
  .popularity {
    flex-direction: column-reverse;
    &__img {
      padding: 0;
    }
    &__item {
      align-items: center;
      justify-content: center;
      &:first-child {
        justify-content: center;
      }
    }
    &__title {
      text-align: center;
    }
    &__block--wrap {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
@media (max-width: 991.98px) {
  .popularity {
    &__inner {
      flex-direction: column-reverse;
    }
    &__item:last-child {
      padding: 0 calc(50vw - 300px);
    }
    &__img {
      position: relative;
    }
  }
}
@media (max-width: 767.98px) {
  .popularity {
    &__item:last-child {
      padding: 0 calc(50vw - 200px);
    }
  }
}
@media (max-width: 575.98px) {
  .popularity {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    &__title {
      font-size: 1.6rem;
      padding: 15px;
    }
    &__item {
      flex-basis: 100%;
      &:first-child {
        display: flex;
        flex-direction: column;
      }
    }
    &__button {
      display: none;
      &-tiny {
        display: block;
      }
    }
    &__block {
      border: none;
      &--wrap {
        padding: 0;
        bottom: 0;
        position: relative;
      }
    }
    &__list {
      &__item {
        padding-right: 10px;
      }
      &--point {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}
