.problems {
  &__container {
    background: #f6f9f3;
  }
  &__inner {
    display: flex;
  }
  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin: 40px auto;
  }
  &__item {
    &:first-child {
      padding-top: -100px;
    }
  }
}
