:root {
  font-size: 15px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  color: $main;
  width: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.button {
  background: $green-main;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: darken($green-main, 10%);
    transition: all 0.3s;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 8px;
    margin-left: 20px;
    background: url("../img/arrow.png");
  }
  &-tiny {
    font-size: 0.8rem;
    padding-top: 25px;
    padding-bottom: 25px;
    &:after {
      display: none;
    }
  }
}
