$gray: #9a9a9a;
$main: #303030;
$green-main: #7eb152;
$green-secondary: #a4c58c;
$green-pseudo: #bfd8a9;
$intro-bg: #3d4b7c;
$green-bg: #f6f9f3;

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}
