// main ../style.less

.header {
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: var(--font);
    font-size: 20px;
    font-weight: 500;
}

.logo__phone a {
    text-decoration: none;
    color: #303030;
    margin-left: 12px;
}

.logo__phone a img {
    margin-right: 12px;
}

.logo__phone span {
    font-size: 12px;
    font-family: var(--font);
    font-weight: 400;
    color: #9a9a9a;
}

.logo__text {
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    color: #9e9e9e;
    margin-left: 30px;
}